# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.log

# Environment
.env
.venv/
venv/
ENV/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
pip-wheel-metadata/
*.whl

# Test and coverage
htmlcov/
.coverage
.coverage.*
cache/
pytest_cache/

# Project specific
assets/
tests/
docs/
